#wrap .inner .content {
    height: 100vh;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#wrap .inner .primg {
    height: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.kakao {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 7%;
    right: 28%;
}

.appdl3 {
    width: 60%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.appdl14 {
    width: 60%;
    height: 30%;
    position: absolute;
    bottom: 40%;
    right: 0;
}

#wrap .inner iframe {
    width:43vw;
    height:23vw;
    background:#000000;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -23%);

    border-radius: 20px;
}

#wrap .inner .pr2_200 {
    width: 19vw;
    display: block;
    position: absolute;

    bottom: 6%;
    right: 27%;
}

/* 반응형 */
/* Tablets */
@media all and (min-width : 768px) and (max-width : 1024px) {

    #wrap .inner .content {
        width: 100%;
        height: 100%;
    }

    #wrap .inner .primg {
        width: 100%;
    }

    #wrap .inner iframe {
        width: 88vw;
        height: 49vw;
    }

    #wrap .inner .pr2_200 {
        width: 38vw;
        display: flex;

        bottom: 5%;
        right: 3%;
    }
}

/* Mobile */
@media all and (max-width : 767px) {

    #wrap .inner .content {
        width: 100%;
        height: 100%;
    }

    #wrap .inner .primg {
        width: 100%;
    }

    #wrap .inner iframe {
        width: 88vw;
        height: 49vw;
    }

    #wrap .inner .pr2_200 {
        width: 38vw;
        display: flex;

        bottom: 5%;
        right: 3%;
    }
}
/* 반응형 */

/*플로팅 버튼*/
.floating-button {
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index: 999;
}

#icon-btn {
    display: block;
    z-index: 999;
    height: 3.8vw;

    position: absolute;
    left: 0;
}

#box-btn {
    position: relative;

    background-color: #416281;
    width: 17vw;
    height: 4vw;
    border-radius: 7px;
}

#box-btn p {
    position: absolute;
	top: 0;
	left: 50%;
    transform: translate(-30%, 0%);
    line-height: 4vw;
    text-align: center;

    color: white;
    /* font-size: 2.5rem; */
    font-size: 1.3vw;
    font-family: Pretendard;
}
    
/*플로팅 버튼 스타일*/
.appdownload {
    float: left;
    display: flex;
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

/* 반응형 */
/* Tablets */
@media all and (min-width : 768px) and (max-width : 1024px) {

    .floating-button {
        right: 5vw;
        bottom: 5vw;
    }

    #icon-btn {
        height: 10vw;
    }

    #box-btn {
        width: 37vw;
        height: 11.2vw;
        border-radius: 7px;
    }

    #box-btn p {
        font-size: 2.3vw;
        line-height: 11.2vw;
    }
}

/* Mobile */
@media all and (max-width : 767px) {

    .floating-button {
        right: 5vw;
        bottom: 5vw;
    }

    #icon-btn {
        height: 10vw;
    }

    #box-btn {
        width: 37vw;
        height: 11.2vw;
        border-radius: 7px;
    }

    #box-btn p {
        font-size: 2.8vw;
        line-height: 11.2vw;
    }
}
/* 반응형 */