#header .inner .content {
    height: 100vh;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#header .inner .primg {
    height: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.ytlink {
    width: 25%;
    height: 25%;
    position: absolute;
    top: 52%;
    left: 37%;
}

.kakao {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 7%;
    right: 28%;
}

.appdl3 {
    width: 60%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.appdl14 {
    width: 60%;
    height: 30%;
    position: absolute;
    bottom: 40%;
    right: 0;
}

#header .inner iframe {
    width:43vw;
    height:47vh;
    background:#000000;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -23%);

    border-radius: 25px;
}

#header .inner .pr2_200 {
    display: block;
    position: absolute;

    bottom: 4%;
    right: 27%;
}

/* 반응형 */
/* Tablets */
@media all and (min-width : 768px) and (max-width : 1024px) {

    #header .inner .content {
        width: 100%;
        height: 100%;
    }

    #header .inner .primg {
        width: 100%;
    }

    #header .inner iframe {
        width: 85vw;
        height: 30vh;
    }

    #header .inner .pr2_200 {
        width: 40vw;
        display: flex;

        bottom: 5%;
        right: 3%;
    }
}

/* Mobile */
@media all and (max-width : 767px) {

    #header .inner .content {
        width: 100%;
        height: 100%;
    }

    #header .inner .primg {
        width: 100%;
    }

    #header .inner iframe {
        width: 85vw;
        height: 30vh;
    }

    #header .inner .pr2_200 {
        width: 40vw;
        display: flex;

        bottom: 5%;
        right: 3%;
    }
}
/* 반응형 */