#header .inner .content {
    height: 100vh;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#header .inner img {
    height: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.ytlink {
    width: 25%;
    height: 25%;
    position: absolute;
    top: 52%;
    left: 37%;
}

.kakao {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 7%;
    right: 28%;
}

.appdl1 {
    width: 60%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.appdl2 {
    width: 60%;
    height: 30%;
    position: absolute;
    bottom: 40%;
    right: 0;
}

/* 반응형 */
/* Tablets */
@media all and (min-width : 768px) and (max-width : 1024px) {

    #header .inner .content {
        width: 100%;
        height: 100%;
    }

    #header .inner img {
        width: 100%;
        height: 100%;
    }
}

/* Mobile */
@media all and (max-width : 767px) {

    #header .inner .content {
        width: 100%;
        height: 100%;
    }

    #header .inner img {
        width: 100%;
        height: 100%;
    }
}
/* 반응형 */