#map {
    position: relative;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
}

#updated {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0%;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: NanumGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    background: #FF7500;

    z-index: 9999;
}

#copied {
    width: 300px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0%);

    font-family: NanumGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    color: #000000;
    background: #FF7500;
    border-radius: 10px;

    z-index: 9999;
}

/* 하단 */
#missing {
    width: 100%;
    bottom: 0;
    background: #FF7500;
    
    z-index: 9999;
}

#missing ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#missing li {
    position: relative;
    width: calc(97%/4);
}
/* 하단 */